repos:
  -   repo: https://github.com/psf/black
      rev: 21.8b0
      hooks:
        - id: black
          language_version: python3.8
  -   repo: https://github.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
        - id: flake8
